<h1>Stupid Coaching</h1>
<div class="alert alert-light">
<h2>this is the question</h2>
<em>-<%= @question %></em>
</div>
<div class="alert alert-warning">
<h2>this is the coach answer</h2>
<em>-<%= @answer %></em>
</div>
<br>
<%= link_to "Ask a question", ask_path %>
