<form action="/answer" data-turbo="false">
  <h1>Stupid Coaching</h1>
  <h4> Ask your coach anything</h4>
  <input type="text" name="question">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
